/*For grouped images inside of a container displayed as a grid*/
.imagecontainer{
  width: 1350px;
  height: auto;
  gap: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-self: center;
  text-align: center;
}

.imagecontainer > img{
  width: 100%;
  height: auto;
}

/*Different alignments for images.*/
.img-left{
  float: left;
  padding: 20px;
  margin-right: 0;
  width: 220px;
  height: auto;
}

.img-right{
  float: right;
  padding: 20px;
  margin-left: 0;
  width: 220px;
  height: auto;
}

.img-center{
  padding: 20px;
  margin-left: 0;
  width: 220px;
  height: auto;
  justify-self: center;
}

.img-grid{
  display: block;
  padding: 0;
  margin: 0;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

/* Prevents text from wrapping around image. 
Make sure to put it in a div that acts as the parent for the text you want to prevent wrapping around an image for. */
.text-wrapper{  
  overflow: hidden;
}